* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
header {
    height: 70px;
    background-color: #1ABC9C;
}

.wrapper {
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: black;
    font-size: 25px;
    text-decoration: none; /*убираем подчеркивание текста и всю декорацию его*/   
}
a:not(:last-child) {
    margin-right: 20px;
}
.social-icon:not(:last-child){
    margin-right: 20px;
}

/*О нас*/

.about{
    display: flex;
    align-items: center;
}
.about-img{
    width: 50%;
}
.about-info{
    width: 50%;
    padding: 0 65px;
}
h1{
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.about-descr{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

 /* homework */

 /* Наши проекты */

.projects{
    background-color: #DCFFEB;
    padding: 125px 65px;
}
h2{
    text-align: left;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;   
}
.projects-wrapper{
    display: flex;
    justify-content: space-between;
}
.project1{
    background-image: url(../images/arena.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    height: 378px;
}
.project1-text{
    visibility: hidden;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.project1:hover .project1-text {
    visibility: visible;  
}
.h3-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* Контакты */

.footer{
    padding: 84px 70px 76px;
}
.contacts{
    text-align: left;
    margin-bottom: 55px;
    font-size: 35px;
}
.footer-wrapper{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
}

.footer-wrapper-information{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a0{
    display:flex;
    margin:inherit;
}
.a1{
    color:#999999;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 25px;
}
.a2{
    color: #000000;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500px;
    text-align: center;
}
.a3{
    color: #F7654A; 
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500px;
    text-align: center; 
}
.a4{
    color:#999999;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    margin-bottom: 27px;  
}
